QLineEdit {
    border-radius: 3px;
    padding: 2px;
}

QListWidget {
    border: 1px solid #fefefe;
    border-radius: 3px;
}

QWidget[whatsThis="segment"] {
    background-color: #e3e3e3;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}


QLabel[whatsThis="h1"] {
    color: #494949;
    font-weight: bold;
    font-size: 22pt;
}

QLabel[whatsThis="h2"] {
    color: #494949;
    font-weight: bold;
    font-size: 20pt;
}

QLabel[whatsThis="h3"] {
    color: #494949;
    font-weight: bold;
    font-size: 16pt;
}

QLabel[whatsThis="h4"] {
    color: #494949;
    font-weight: bold;
    font-size: 14pt;
}

QLabel[whatsThis="h5"] {
    color: #494949;
    font-weight: bold;
}

QTableWidget, QTableView{
    border: none;
}

QTreeWidget, QTreeView{
    border: none;
}

FigureCanvasQTAgg {
    background-color: red;
}

/* ------------------------------------------------------------------------ */
/* ControlSidebar - light ------------------------------------------------- */
/* ------------------------------------------------------------------------ */

ControlSidebar {
    background-color: #dbdbdb;
}

ControlSidebar > SidebarButton {
    background-color: #dbdbdb;
    border: 0;
    border-radius: 0px;
    color: #535353;
    padding: 8px;
    font-size: 13pt;
    text-align: left;
    font-weight: bold;
    min-width: 100px;
}

ControlSidebar > SidebarButton:disabled {
    color: #959595;
}

ControlSidebar > SidebarButton:checked, ControlSidebar > SidebarButton:checked:hover {
    background-color: #ececec;
    color: #0a0a0a;
    border: 0;
}

ControlSidebar > SidebarButton:hover {
    background-color: #e5e5e5;
}

ControlSidebar > SidebarButton:focus, ControlSidebar > SidebarButton:checked:focus {
    border: 1px solid #88b5e5;
    border-radius: 3px;
}

ControlSidebar > SidebarButton:pressed {
    background-color: #dbdbdb;
}