QLineEdit {
    border-radius: 3px;
    padding: 2px;
}

QListWidget {
    border: 1px solid #fefefe;
    border-radius: 3px;
}


QLabel[whatsThis="h1"] {
    color: #494949;
    font-weight: bold;
    font-size: 22pt;
}

QLabel[whatsThis="h2"] {
    color: #494949;
    font-weight: bold;
    font-size: 20pt;
}

QLabel[whatsThis="h3"] {
    color: #494949;
    font-weight: bold;
    font-size: 16pt;
}

QLabel[whatsThis="h4"] {
    color: #494949;
    font-weight: bold;
    font-size: 14pt;
}

QLabel[whatsThis="h5"] {
    color: #494949;
    font-weight: bold;
}

Segment {
    background-color: #e3e3e3;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

SegmentAlt {
    background-color: #efefef;
    border: 1px solid #d7d7d7;
}

SegmentRed {
    background-color: rgba(255, 0, 0, 0.07);
    border: 1px solid rgba(255, 41, 41, 0.48);
}

SegmentYellow {
    background-color: rgba(255, 251, 0, 0.07);
    border: 1px solid rgba(205, 205, 33, 0.78);
}

SegmentBlue {
    background-color: rgba(0, 115, 255, 0.07);
    border: 1px solid rgba(96, 167, 255, 0.36);
}


QTableView, QScrollArea {
    border: none;
}

QTableCornerButton, QHeaderView, QTableView::section, QHeaderView::section, QHeaderView::item, QTableCornerButton::section {
    background-color: transparent;
}

QTreeWidget, QTreeView {
    border: none;
}

/* ------------------------------------------------------------------------ */
/* ControlSidebar --------------------------------------------------------- */
/* ------------------------------------------------------------------------ */

ControlSidebar {
    background-color: #dbdbdb;
}

SidebarButton {
    background-color: #dbdbdb;
    border: 0;
    border-radius: 0;
    color: #535353;
    padding: 8px;
    font-size: 13pt;
    text-align: left;
    font-weight: bold;
    min-width: 120px;
}

SidebarButton:disabled {
    color: #959595;
}

SidebarButton:checked, SidebarButton:checked:hover {
    background-color: #ececec;
    color: #0a0a0a;
    border: 0;
}

SidebarButton:hover {
    background-color: #e5e5e5;
}

SidebarButton:focus, SidebarButton:checked:focus {
    border: 1px solid #88b5e5;
    border-radius: 3px;
}

SidebarButton:pressed {
    background-color: #dbdbdb;
}