QLineEdit {
    border-radius: 4px;
    border: 1px solid rgba(138, 138, 138, 0.14);
    padding: 2px;
}

QTextEdit {
    border-radius: 4px;
    border: 1px solid rgba(138, 138, 138, 0.14);
    padding: 0;
}

QListWidget {
    border: 1px solid rgba(138, 138, 138, 0.14);
    border-radius: 3px;
}


QLabel[whatsThis="h1"] {
    opacity: 0.8;
    font-weight: bold;
    font-size: 22pt;
}

QLabel[whatsThis="h2"] {
    opacity: 0.8;
    font-weight: bold;
    font-size: 20pt;
}

QLabel[whatsThis="h3"] {
    opacity: 0.8;
    font-weight: bold;
    font-size: 16pt;
}

QLabel[whatsThis="h4"] {
    opacity: 0.8;
    font-weight: bold;
    font-size: 14pt;
}

QLabel[whatsThis="h5"] {
    opacity: 0.8;
    font-weight: bold;
}

QLabel[whatsThis="mute"] {
    opacity: 0.9;
}

Segment {
    background-color: rgba(138, 138, 138, 0.03);
    border: 1px solid rgba(138, 138, 138, 0.2);
    border-radius: 5px;
}

SegmentAlt {
    background-color: rgba(138, 138, 138, 0.08);
    border: 1px solid rgba(138, 138, 138, 0.12);
}

SegmentLight {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.9);
}

SegmentRed {
    background-color: rgba(255, 0, 0, 0.07);
    border: 1px solid rgba(255, 13, 13, 0.25);
}

SegmentYellow {
    background-color: rgba(255, 252, 48, 0.12);
    border: 1px solid rgba(210, 210, 4, 0.32);
}

SegmentBlue {
    background-color: rgba(0, 115, 255, 0.07);
    border: 1px solid rgba(0, 123, 253, 0.25);
}

SegmentGreen {
    background-color: rgba(77, 255, 36, 0.1);
    border: 1px solid rgba(36, 239, 24, 0.25);
}

SegmentPurple {
    background-color: rgba(77, 0, 255, 0.07);
    border: 1px solid rgba(166, 0, 253, 0.25);
}

SegmentSidebar {
    background-color: transparent;
    border: 0;
    padding: 0;
}

HLine, VLine {
    color: rgba(138, 138, 138, 0.3);
}

QSplitter::handle {
    border-radius: 1px;
    /*
    border: 1px solid rgb(96, 166, 255);
    background-color: rgba(23, 107, 238, 0.89);
     */
    background-color: rgba(115, 121, 128, 0.4);
}

SplitterRow::handle {
    margin: 0 7px;
}

SplitterCol::handle {
    margin: 7px 0;
}

QToolBox::tab {
    background: deeppink;
}

QToolBar {
    background-color: transparent;
    border: 1px solid rgba(138, 138, 138, 0.2);
    border-radius: 5px;
    padding: 3px;
}

QTableView {
    border: none;
    gridline-color: rgba(102, 102, 102, 0.4);
}

QTableCornerButton, QHeaderView {
    background-color: transparent;
}

LayoutWidget, QScrollArea, ConditionalLayout, QLabel {
    background-color: transparent;
}

QTreeWidget, QTreeView, QScrollArea {
    border: none;
}

FigureCanvasQTAgg {
    background-color: transparent;
}


/* ------------------------------------------------------------------------ */
/* ControlSidebar --------------------------------------------------------- */
/* ------------------------------------------------------------------------ */

ControlSelectSidebar {
    background-color: rgba(138, 138, 138, 0.08);
    border-radius: 0;
    border: 0;
    padding: 0;
    max-width: 280px;
}

SidebarButton {
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    margin: 2px 0 0 0;
    font-size: 13pt;
    text-align: left;
    font-weight: bold;
    min-width: 180px;
}

SidebarButton:checked, SidebarButton:checked:hover {
    background-color: rgba(0, 93, 238, 0.89);
    color: white;
    border: 0;
}

SidebarButton:hover {
    background-color: rgba(138, 138, 138, 0.12);
}


