QWidget {
    font-size: 9pt;
}

QLabel[whatsThis="h1"] {
    font-size: 18pt;
}

QLabel[whatsThis="h2"] {
    font-size: 15pt;
}

QLabel[whatsThis="h3"] {
    font-size: 13pt;
}

QLabel[whatsThis="h4"] {
    font-size: 12pt;
}

QLineEdit, QTextEdit {
    border: 1px solid #ccc;
}

SegmentGreen {
    background-color: rgba(170, 255, 150, 0.1);
    border: 1px solid rgba(106, 238, 98, 0.25);
}

QTableView {
    border: 1px solid rgba(125, 125, 130, 0.3);
    border-radius: 4px;
    background-color: white;
    gridline-color: rgba(125, 125, 130, 0.3);
}

QHeaderView {
    background-color: transparent;
}

QHeaderView::section, QTableCornerButton::section {
    border: 1px solid rgba(125, 125, 130, 0.3);
    border-top: 0;
    padding-left: 8px;
    border-left: 0;
    background-color: transparent;
}